.card-header {
  border-bottom: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.table {
  margin-bottom: 0px;
}

.up {
  color: green;
}

.down {
  color: orangered;
}

.input-group {
  width: 100%;
}

.alert-config-form {
  border: 0px;
  td {
    border: 0px;
  }
  th {
  }
}

table {
  .btn-sm {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}