.buy-trade {
  background-color: rgba(green, 0.5);
}

.sell-trade {
  background-color: rgba(red, 0.5);
}

.card-header {
  a {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
